In [38]:
import pandas as pd


SMS = pd.read_csv('../preprocess2/SMS_2.csv')
Calls = pd.read_csv('../preprocess2/Calls_2.csv')

In [39]:
print(Calls.shape)
print(Calls.isnull().sum())
print('-----------')
# Calls = Calls.dropna()
# print(Calls.shape)
# print(Calls.isnull().sum())

(9829, 7)
user.id            0
time               0
duration           0
dest.user.id       0
dest.phone.hash    0
id_tuple           0
relationship       0
dtype: int64
-----------

In [40]:
print(SMS.shape)
print(SMS.isnull().sum())
print('-------------')

# SMS = SMS.dropna()
# print(SMS.shape)
# print(SMS.isnull().sum())

(11728, 7)
user.id            0
time               0
incoming           0
dest.user.id       0
dest.phone.hash    0
id_tuple           0
relationship       0
dtype: int64
-------------

In [41]:
Calls.head()

,user.id,time,duration,dest.user.id,dest.phone.hash,id_tuple,relationship
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend
3,19,2008-10-13 01:51:31,0,65,1569256956,"(19.0, 65.0)",CloseFriend
4,19,2008-10-14 03:54:56,17,65,1569256956,"(19.0, 65.0)",CloseFriend

In [42]:
SMS.head()

,user.id,time,incoming,dest.user.id,dest.phone.hash,id_tuple,relationship
0,61,2008-01-01 15:00:25,0,1,3502965008,"(61.0, 1.0)",CloseFriend
1,61,2008-01-01 15:00:25,0,61,3480933661,"(61.0, 61.0)",CloseFriend
2,61,2008-01-01 15:00:25,1,1,3502965008,"(61.0, 1.0)",CloseFriend
3,61,2008-01-01 15:00:25,1,61,3480933661,"(61.0, 61.0)",CloseFriend
4,37,2008-01-02 23:18:10,1,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek

In [43]:
set(Calls.relationship)

{'BlogLivejournalTwitter',
 'CloseFriend',
 'FacebookAllTaggedPhotos',
 'PoliticalDiscussant',
 'SocializeTwicePerWeek'}

In [44]:
Calls.ix[Calls.duration < 0, :]
# Calls.relationship.value_counts()

,user.id,time,duration,dest.user.id,dest.phone.hash,id_tuple,relationship
417,30,2008-12-26 19:59:36,-3540,20,3662621626,"(30.0, 20.0)",CloseFriend
538,30,2009-03-04 03:59:19,-3540,20,3662621626,"(30.0, 20.0)",CloseFriend
624,31,2009-02-05 17:42:57,-32768,58,2959148319,"(31.0, 58.0)",CloseFriend
1720,8,2009-01-10 19:47:53,-2347,70,1749219068,"(8.0, 70.0)",CloseFriend
1723,8,2009-01-10 21:22:01,-1407,70,1749219068,"(8.0, 70.0)",CloseFriend
2295,11,2009-01-02 10:41:43,-2007,16,2330000391,"(11.0, 16.0)",CloseFriend
2391,11,2009-01-05 05:44:49,-2446,16,2330000391,"(11.0, 16.0)",CloseFriend
2498,27,2009-01-13 00:59:52,-3540,23,2813763765,"(27.0, 23.0)",SocializeTwicePerWeek
2900,4,2008-12-12 02:20:49,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
2912,4,2008-12-19 23:59:27,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
2928,4,2009-01-25 00:59:01,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
2963,4,2008-11-21 01:35:22,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
2998,4,2008-12-19 23:59:27,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3032,4,2008-11-19 23:59:31,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3080,4,2009-02-08 06:59:50,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3115,4,2009-01-20 00:31:24,-32768,58,2959148319,"(4.0, 58.0)",CloseFriend
3145,4,2009-01-18 01:59:54,-3540,9,2640946384,"(4.0, 9.0)",CloseFriend
3149,4,2009-01-18 01:59:54,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3151,4,2009-01-18 01:59:54,-3540,24,1873398567,"(4.0, 24.0)",CloseFriend
3168,4,2009-02-08 05:18:03,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
3197,4,2009-02-27 00:59:55,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3221,4,2009-03-09 07:06:38,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
3260,4,2009-02-03 21:48:03,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
3261,4,2009-01-13 19:19:06,-1023,7,4271253630,"(4.0, 7.0)",CloseFriend
3294,4,2009-01-31 00:32:42,-32768,7,4271253630,"(4.0, 7.0)",CloseFriend
3365,4,2009-02-27 00:59:41,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
3440,4,2009-04-28 01:59:07,-3540,7,4271253630,"(4.0, 7.0)",CloseFriend
4069,58,2009-01-01 04:55:24,-3708,24,1873398567,"(58.0, 24.0)",CloseFriend
4170,35,2009-03-21 14:49:01,-2691,50,3878227829,"(35.0, 50.0)",SocializeTwicePerWeek
4329,46,2008-12-29 04:21:09,-3600,44,2314686049,"(46.0, 44.0)",CloseFriend
...,...,...,...,...,...,...,...
4693,71,2008-11-16 08:45:20,-32768,77,1363326333,"(71.0, 77.0)",CloseFriend
4707,71,2009-02-01 03:12:40,-32768,77,1363326333,"(71.0, 77.0)",CloseFriend
4842,62,2009-01-11 04:42:54,-32768,68,2150295218,"(62.0, 68.0)",SocializeTwicePerWeek
5122,70,2009-02-25 17:59:18,-3540,54,1437960073,"(70.0, 54.0)",CloseFriend
5277,12,2009-02-13 22:46:10,-6,55,3059672643,"(12.0, 55.0)",CloseFriend
5585,55,2008-12-20 12:49:21,-2692,25,1967871061,"(55.0, 25.0)",CloseFriend
5624,55,2009-03-06 04:01:58,-32768,51,779768896,"(55.0, 51.0)",CloseFriend
5625,55,2009-02-06 17:43:23,-32768,28,1521569989,"(55.0, 28.0)",CloseFriend
5712,20,2008-12-27 02:59:48,-3540,42,3787598792,"(20.0, 42.0)",CloseFriend
5780,22,2009-03-27 00:41:38,-32768,22,3839293194,"(22.0, 22.0)",CloseFriend
6053,26,2009-01-25 19:50:48,-32768,65,1569256956,"(26.0, 65.0)",CloseFriend
6158,29,2009-01-10 15:59:25,-3540,76,1872101908,"(29.0, 76.0)",CloseFriend
6169,29,2008-10-17 16:59:46,-3540,77,1363326333,"(29.0, 77.0)",CloseFriend
6182,29,2009-01-11 17:10:37,-32768,77,1363326333,"(29.0, 77.0)",CloseFriend
6185,29,2008-11-22 18:28:54,-32768,19,1989292893,"(29.0, 19.0)",SocializeTwicePerWeek
6186,29,2009-01-11 18:58:42,-32768,76,1872101908,"(29.0, 76.0)",CloseFriend
6198,29,2009-01-11 15:59:25,-3540,77,1363326333,"(29.0, 77.0)",CloseFriend
6201,29,2009-01-11 15:59:25,-3540,76,1872101908,"(29.0, 76.0)",CloseFriend
6231,42,2008-12-31 15:02:47,-32768,20,3662621626,"(42.0, 20.0)",CloseFriend
6740,61,2009-01-13 13:59:51,-3540,1,3502965008,"(61.0, 1.0)",CloseFriend
6827,61,2009-03-16 23:59:16,-3540,1,3502965008,"(61.0, 1.0)",CloseFriend
7192,18,2008-11-04 15:59:30,-3540,26,2705867375,"(18.0, 26.0)",CloseFriend
7225,18,2009-03-01 13:59:10,-3540,72,1960260537,"(18.0, 72.0)",CloseFriend
7237,31,2009-02-04 19:28:13,-32768,27,4220968992,"(31.0, 27.0)",CloseFriend
7454,43,2009-01-26 13:28:47,-32768,64,3325318042,"(43.0, 64.0)",CloseFriend
8283,1,2008-12-14 20:12:55,-32768,61,3480933661,"(1.0, 61.0)",CloseFriend
8286,1,2009-01-13 03:23:57,-1306,61,3480933661,"(1.0, 61.0)",CloseFriend
8436,16,2008-11-08 04:05:48,-45,11,3375192796,"(16.0, 11.0)",CloseFriend
8446,16,2008-11-11 17:51:07,-32768,11,3375192796,"(16.0, 11.0)",CloseFriend
9202,32,2009-01-11 04:17:17,-32768,68,2150295218,"(32.0, 68.0)",CloseFriend

In [45]:
Calls.head(3)

,user.id,time,duration,dest.user.id,dest.phone.hash,id_tuple,relationship
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend

In [46]:
Calls['isCall'] = 1
Calls['isSMS'] = 0
Calls['isCloseFriend'] = Calls.relationship == 'CloseFriend'

In [47]:
SMS.head(3)

,user.id,time,incoming,dest.user.id,dest.phone.hash,id_tuple,relationship
0,61,2008-01-01 15:00:25,0,1,3502965008,"(61.0, 1.0)",CloseFriend
1,61,2008-01-01 15:00:25,0,61,3480933661,"(61.0, 61.0)",CloseFriend
2,61,2008-01-01 15:00:25,1,1,3502965008,"(61.0, 1.0)",CloseFriend

In [48]:
SMS['isSMS'] = 1
SMS['isCall'] = 0
SMS['isCloseFriend'] = SMS.relationship == 'CloseFriend'
SMS.head(10)

,user.id,time,incoming,dest.user.id,dest.phone.hash,id_tuple,relationship,isSMS,isCall,isCloseFriend
0,61,2008-01-01 15:00:25,0,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True
1,61,2008-01-01 15:00:25,0,61,3480933661,"(61.0, 61.0)",CloseFriend,1,0,True
2,61,2008-01-01 15:00:25,1,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True
3,61,2008-01-01 15:00:25,1,61,3480933661,"(61.0, 61.0)",CloseFriend,1,0,True
4,37,2008-01-02 23:18:10,1,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek,1,0,False
5,37,2008-01-04 14:55:44,0,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek,1,0,False
6,61,2008-01-06 12:01:36,0,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True
7,37,2008-01-27 12:26:24,0,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek,1,0,False
8,37,2008-01-27 12:26:24,1,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek,1,0,False
9,61,2008-01-27 16:49:37,1,61,3480933661,"(61.0, 61.0)",CloseFriend,1,0,True

In [49]:
type(SMS.time[1])

str

In [50]:
Calls.head(10)

,user.id,time,duration,dest.user.id,dest.phone.hash,id_tuple,relationship,isCall,isSMS,isCloseFriend
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True
3,19,2008-10-13 01:51:31,0,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True
4,19,2008-10-14 03:54:56,17,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True
5,19,2008-11-03 17:57:33,35,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True
6,19,2008-11-03 03:03:48,0,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True
7,19,2008-11-07 01:13:28,39,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True
8,19,2008-11-08 23:35:12,40,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True
9,19,2008-11-09 00:33:15,64,44,2314686049,"(19.0, 44.0)",SocializeTwicePerWeek,1,0,False

In [51]:
Calls.columns = ['user.id', 'datetime', 'duration', 'dest.user.id', 'dest.phone.hash',
       'id_tuple', 'relationship', 'isCall', 'isSMS', 'isCloseFriend']
Calls.head(4)

,user.id,datetime,duration,dest.user.id,dest.phone.hash,id_tuple,relationship,isCall,isSMS,isCloseFriend
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True
3,19,2008-10-13 01:51:31,0,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True

In [52]:
Calls.datetime = pd.to_datetime(Calls.datetime)

In [53]:
fun = lambda x:x.time()
Calls['time'] = Calls.datetime.apply(fun)

In [54]:
Calls.head()

,user.id,datetime,duration,dest.user.id,dest.phone.hash,id_tuple,relationship,isCall,isSMS,isCloseFriend,time
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True,03:47:31
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,06:46:20
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,13:51:41
3,19,2008-10-13 01:51:31,0,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,01:51:31
4,19,2008-10-14 03:54:56,17,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,03:54:56

In [55]:
from datetime import time

office_time_start = time(10, 0)
office_time_end = time(18, 0)

fun = lambda x: x > office_time_start and x < office_time_end
Calls['inOffice'] = Calls.time.apply(fun)

In [56]:
Calls.head(20)

,user.id,datetime,duration,dest.user.id,dest.phone.hash,id_tuple,relationship,isCall,isSMS,isCloseFriend,time,inOffice
0,19,2008-10-03 03:47:31,47,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True,03:47:31,False
1,19,2008-10-03 06:46:20,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,06:46:20,False
2,19,2008-10-03 13:51:41,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,13:51:41,True
3,19,2008-10-13 01:51:31,0,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,01:51:31,False
4,19,2008-10-14 03:54:56,17,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,03:54:56,False
5,19,2008-11-03 17:57:33,35,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True,17:57:33,True
6,19,2008-11-03 03:03:48,0,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True,03:03:48,False
7,19,2008-11-07 01:13:28,39,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,01:13:28,False
8,19,2008-11-08 23:35:12,40,18,3620995333,"(19.0, 18.0)",CloseFriend,1,0,True,23:35:12,False
9,19,2008-11-09 00:33:15,64,44,2314686049,"(19.0, 44.0)",SocializeTwicePerWeek,1,0,False,00:33:15,False
10,19,2008-11-14 20:09:01,90,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,20:09:01,False
11,19,2008-11-22 18:28:36,42,29,341257886,"(19.0, 29.0)",SocializeTwicePerWeek,1,0,False,18:28:36,False
12,19,2008-12-19 04:46:11,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,04:46:11,False
13,19,2008-12-19 04:39:34,0,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,04:39:34,False
14,19,2009-01-09 01:02:31,29,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,01:02:31,False
15,19,2009-01-09 01:04:36,87,22,3839293194,"(19.0, 22.0)",CloseFriend,1,0,True,01:04:36,False
16,19,2009-01-17 00:09:17,15,26,2705867375,"(19.0, 26.0)",CloseFriend,1,0,True,00:09:17,False
17,19,2009-01-18 17:41:47,0,65,1569256956,"(19.0, 65.0)",CloseFriend,1,0,True,17:41:47,True
18,19,2009-01-21 17:02:00,22,44,2314686049,"(19.0, 44.0)",SocializeTwicePerWeek,1,0,False,17:02:00,True
19,19,2009-01-21 17:00:18,31,44,2314686049,"(19.0, 44.0)",SocializeTwicePerWeek,1,0,False,17:00:18,True

In [57]:
SMS.head()

,user.id,time,incoming,dest.user.id,dest.phone.hash,id_tuple,relationship,isSMS,isCall,isCloseFriend
0,61,2008-01-01 15:00:25,0,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True
1,61,2008-01-01 15:00:25,0,61,3480933661,"(61.0, 61.0)",CloseFriend,1,0,True
2,61,2008-01-01 15:00:25,1,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True
3,61,2008-01-01 15:00:25,1,61,3480933661,"(61.0, 61.0)",CloseFriend,1,0,True
4,37,2008-01-02 23:18:10,1,37,310381472,"(37.0, 37.0)",SocializeTwicePerWeek,1,0,False

In [58]:
# SMS.columns = ['user.id', 'datetime', 'duration', 'dest.user.id', 'dest.phone.hash',
#        'id_tuple', 'relationship', 'isCall', 'isSMS', 'isCloseFriend']
# SMS.datetime = pd.to_datetime(SMS.datetime)
# fun1 = lambda x : x.time()
# SMS['time'] = SMS.datetime.apply(fun1)
# fun2 = lambda x : x > office_time_start and x < office_time_end
# SMS['isOffice'] = SMS.time.apply(fun2)

In [60]:
SMS.shape

(11728, 10)

In [61]:
## move out SMS's that user.id and dest.id are the same
SMS = SMS.ix[SMS['user.id'] != SMS['dest.user.id'], :]
SMS.shape

(8483, 10)

In [67]:
SMS.columns

Index(['user.id', 'time', 'incoming', 'dest.user.id', 'dest.phone.hash',
       'id_tuple', 'relationship', 'isSMS', 'isCall', 'isCloseFriend'],
      dtype='object')

In [69]:
SMS.columns = ['user.id', 'datetime', 'incoming', 'dest.user.id', 'dest.phone.hash',
       'id_tuple', 'relationship', 'isSMS', 'isCall', 'isCloseFriend']
SMS.datetime = pd.to_datetime(SMS.datetime)
fun1 = lambda x : x.time()
SMS['time'] = SMS.datetime.apply(fun1)
fun2 = lambda x : x > office_time_start and x < office_time_end
SMS['inOffice'] = SMS.time.apply(fun2)

In [71]:
SMS.head(20)

,user.id,datetime,incoming,dest.user.id,dest.phone.hash,id_tuple,relationship,isSMS,isCall,isCloseFriend,time,inOffice
0,61,2008-01-01 15:00:25,0,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True,15:00:25,True
2,61,2008-01-01 15:00:25,1,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True,15:00:25,True
6,61,2008-01-06 12:01:36,0,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True,12:01:36,True
13,61,2008-03-31 19:49:18,1,1,3502965008,"(61.0, 1.0)",CloseFriend,1,0,True,19:49:18,False
14,1,2008-04-26 18:35:34,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,18:35:34,False
15,1,2008-04-26 19:35:34,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,19:35:34,False
16,1,2008-04-26 20:35:34,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,20:35:34,False
17,1,2008-06-20 09:30:44,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,09:30:44,False
18,1,2008-06-20 10:30:44,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,10:30:44,True
19,1,2008-06-20 11:30:44,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,11:30:44,True
20,1,2008-07-08 03:52:20,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,03:52:20,False
21,1,2008-07-08 04:52:20,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,04:52:20,False
22,1,2008-07-08 05:52:20,1,61,3480933661,"(1.0, 61.0)",CloseFriend,1,0,True,05:52:20,False
23,58,2008-07-11 19:08:23,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,19:08:23,False
24,58,2008-07-11 19:08:27,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,19:08:27,False
25,58,2008-07-11 23:43:26,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,23:43:26,False
26,58,2008-07-16 09:46:56,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,09:46:56,False
27,58,2008-07-16 22:25:33,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,22:25:33,False
28,58,2008-07-19 16:00:10,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,16:00:10,True
29,58,2008-07-25 22:06:15,1,24,1873398567,"(58.0, 24.0)",CloseFriend,1,0,True,22:06:15,False

In [72]:
Calls = Calls.ix[Calls['user.id'] != ['dest.user.id'], :]
Calls.shape

/Users/liuhuawei/myproject/venv/lib/python3.4/site-packages/pandas/core/ops.py:680: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison